blobfile==3.0.0
cairosvg==2.7.1
drawsvg==2.4.0
imageio==2.37.0
matplotlib==3.10.1
mpi4py==4.0.1
networkx==3.4.2
numpy==1.26.4
opencv-python==4.10.0.84
Pillow==11.1.0
pytorch-fid==0.3.0
setuptools==75.8.0
Shapely==2.0.7
tensorflow==2.18.0
torch==2.5.1
tqdm==4.67.1
webcolors==24.11.1
langchain==0.3.27
langchain-openai==0.3.32
gradio==5.46.1
openai==1.107.2
pandas==2.2.3
